<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${knyga.pavadinimas}">Knygos detalės</title>
    <style>
    </style>
</head>
<body>
<a href="/">← Grįžti į sąrašą</a>

<div>
    <div>
        <img th:src="@{${knyga.virselioAdresas}}" width="300px" alt="Knygos viršelis" />
    </div>

    <div >
        <h1 th:text="${knyga.pavadinimas}">Pavadinimas</h1>
        <ul>
            <li>
                Autorius
                <a th:href="@{/(q=${knyga.autoriai})}" th:text="${knyga.autoriai}"></a>
            </li>

            <li>
                Leidėjas
                <a th:href="@{/(q=${knyga.leidejas})}" th:text="${knyga.leidejas}"></a>
            </li>

            <li>Metai <span th:text="${knyga.metai}"></span></li>
            <li>Puslapiai<span th:text="${knyga.puslapiuSkaicius}"></span></li>
            <li>Žanrai<span th:text="${knyga.zanrai}"></span></li>
            <li>Kalba<span th:text="${knyga.kalba}"></span></li>
            <li>Formatas<span th:text="${knyga.formatoInformacija}"></span></li>
            <li>Kaina<span th:text="${knyga.kaina}"></span></li>
            <li>Aprašymas
                <p th:text="${knyga.aprasymas}"></p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>